[Unit]
Description=tvplayer
After=network.target

[Service]
WorkingDirectory=/home/pi/
User=pi
ExecStart=/home/pi/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
