[Unit]
Description=tvplayer
After=network.target

[Service]
WorkingDirectory=/home/pi/simpsonstv/
User=pi
ExecStart=/home/pi/simpsonstv/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
