[Unit]
Description=tvtouch
After=network.target

[Service]
WorkingDirectory=/home/pi/
User=pi
ExecStart=/usr/bin/python3 /home/pi/simpsonstv/touch.py
Restart=always

[Install]
WantedBy=multi-user.target
