[Unit]
Description=tvtouch
After=network.target

[Service]
WorkingDirectory=/home/u/
User=u
ExecStart=/usr/bin/python3 /home/u/touch.py
Restart=always

[Install]
WantedBy=multi-user.target
